<div class="container-fluid header bg-dark p-0 position-relative">
    <div class="top-bar">
        <div class="marquee-topbar d-flex justify-content-between">
            <div class="marquee-item">
                <a href="">
                    <p class="text-uppercase">VOUCHER 10% TỐI ĐA 10K </p>
                </a>

            </div>
            <div class="marquee-item">
                <a href="">
                    <p class="text-uppercase">VOUCHER 30K ĐƠN TỪ 599K </p>
                </a>

            </div>
            <div class="marquee-item">
                <a href="">
                    <p class="text-uppercase">VOUCHER 70K ĐƠN TỪ 899K </p>
                </a>

            </div>
            <div class="marquee-item">
                <a href="">
                    <p class="text-uppercase">🚛FREESHIP ĐƠN TỪ 399K </p>
                </a>

            </div>
        </div>
    </div>
    <div class="Site-header-center header-top bg-black">
        <div class="container">
            <div class="row d-flex justify-content-between " style="height: 70px;">
                <div class="col-2 d-block d-xl-none  align-content-center fs-3 text-white">
                    <i class="bars-icon fa-solid fa-bars"></i>
                </div>
                <div class="text-white mobile-header d-md-none">
                    <div class="">
                        <div class="mobile-header-top d-flex justify-content-center position-relative">
                            <img src="./public/asset/image.png" alt="" class="logo-img my-3" style="width: 200px;">
                            <div class=" position-absolute text-white" style="top: 5px; right: 5px; font-size: 29px; ">
                                <i class="btn-close-popup fa-solid fa-xmark"></i>
                            </div>
                        </div>
                        <div class="mobile-header-body">
                            <ul class="">
                                <li class="list-unstyled my-3">
                                    <div class="">
                                        <div class="text-uppercase dropdown-toggle" style="font-size: 16px;">
                                            hàng mới
                                        </div>
                                    </div>
                                </li>
                                <li class="list-unstyled my-3">
                                    <div class="">
                                        <div type="button" class="text-uppercase dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 16px;">
                                            sản phẩm
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item text-uppercase" type="button">Tất cả sản
                                                phẩm</button>
                                            <button class="dropdown-item text-uppercase" type="button">Áo</button>
                                            <button class="dropdown-item text-uppercase" type="button"><a
                                                    href="index.html">quần</a></button>
                                            <button class="dropdown-item text-uppercase" type="button">Set quần
                                                áo</button>
                                            <button class="dropdown-item text-uppercase" type="button">Đồ lót -
                                                boxer</button>
                                            <button class="dropdown-item text-uppercase" type="button">Phụ
                                                kiện</button>

                                        </div>
                                    </div>
                                </li>
                                <li class="list-unstyled my-3">
                                    <div class="">
                                        <div type="button" class="text-uppercase dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 16px;">
                                            áo nam
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item text-uppercase" type="button">Áo
                                                thun</button>
                                            <button class="dropdown-item text-uppercase" type="button">Áo
                                                polo</button>
                                            <button class="dropdown-item text-uppercase" type="button">Áo sơ
                                                mi</button>
                                            <button class="dropdown-item text-uppercase" type="button">Áo
                                                khoác</button>
                                            <button class="dropdown-item text-uppercase" type="button">Áo ba
                                                lỗ</button>
                                            <button class="dropdown-item text-uppercase" type="button">Set quần
                                                áo</button>

                                        </div>
                                    </div>
                                </li>
                                <li class="list-unstyled my-3">
                                    <div class="">
                                        <div type="button" class="text-uppercase dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 16px;">
                                            quần nam
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item text-uppercase" type="button">quần
                                                jean</button>
                                            <button class="dropdown-item text-uppercase" type="button">quần
                                                short</button>
                                            <button class="dropdown-item text-uppercase" type="button">quần
                                                tây</button>
                                            <button class="dropdown-item text-uppercase" type="button">quần jogger -
                                                quần dài</button>
                                            <button class="dropdown-item text-uppercase" type="button">Quần
                                                kaki</button>
                                            <button class="dropdown-item text-uppercase" type="button">Set quần
                                                áo</button>
                                            <button class="dropdown-item text-uppercase" type="button">Quần boxer
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-unstyled my-3">
                                    <div class="">
                                        <div type="button" class="text-uppercase dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            style="font-size: 16px;">
                                            Phụ kiện
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <button class="dropdown-item text-uppercase" type="button">nón
                                            </button>
                                            <button class="dropdown-item text-uppercase" type="button">thắt
                                                lưng</button>
                                            <button class="dropdown-item text-uppercase" type="button">balo - túi
                                                xách</button>
                                            <button class="dropdown-item text-uppercase" type="button">ví </button>
                                            <button class="dropdown-item text-uppercase" type="button">giày -
                                                dép</button>
                                            <button class="dropdown-item text-uppercase" type="button">Mắt
                                                kính</button>
                                            <button class="dropdown-item text-uppercase" type="button">Quần boxer
                                            </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-unstyled my-3">
                                    <div class="">
                                        <div class="text-uppercase dropdown-toggle" style="font-size: 16px;">
                                            Đồ hè
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-5 col-md-4 col-lg-2 col-xl-2 h-100 align-content-center logo">
                    <a href="">
                        <img src="./public/asset/image.png" alt="" class="logo-img">
                    </a>
                </div>
                <div class=" align-items-center d-none d-xl-flex col-xl-6">
                    <form action="/search" class="d-flex w-100 site-search">
                        <input type="text" name="search" class=" form-control form-control-search py-2"
                            placeholder="Bạn đang tìm gì...">
                        <button type="submit" class="btn btn-black btn-search px-4 ">
                            <i class="fa-solid fa-magnifying-glass"></i> <!-- Icon FontAwesome -->
                        </button>
                    </form>
                </div>
                <div class="col-5 col-md-6 col-xl-4 align-content-center ">
                    <div class="">
                        <ul class="nav-brand d-flex justify-content-between justify-content-lg-end  p-0 m-0">
                            <li class="d-block d-xl-none list-unstyled mx-xl-3 mx-sm-3">
                                <div>
                                    <a href="#" class=" text-decoration-none text-white d-block ">
                                        <div
                                            class="d-block d-md-flex d-lg-flex d-xl-flex justify-content-center fs-4 py-1 ">
                                            <i class="fa-solid fa-magnifying-glass mobile-input-icon">
                                                <div class="icon-input"></div>
                                            </i>
                                            <div class="mobile-input ">
                                                <div class="bg-white" onblur="blurInputBox">
                                                    <div class="text-dark font-geologica text-uppercase text-center pt-3 border-bottom"
                                                        style="font-weight: 500; font-size: 18px;">Tìm kiếm</div>
                                                    <div class="container my-2 pb-2">
                                                        <input type="text"
                                                            class="form-control font-geologica w-100 mx-auto"
                                                            placeholder="Tìm kiếm sản phẩm" onblur="blurInputBox()">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </a>
                                </div>
                            </li>
                            <li class="list-unstyled mx-xl-3 mx-sm-3">
                                <div>
                                    <a href="" class=" text-decoration-none text-white d-block ">
                                        <div class="d-block d-md-flex d-lg-flex justify-content-center fs-4 py-1"><i
                                                class="fa-solid fa-map-location-dot "></i></div>
                                        <div class="box-text d-none d-xl-inline"
                                            style="font-weight: 400; font-size: 13;">Cửa hàng</div>
                                    </a>
                                </div>
                            </li>
                            <li class="list-unstyled mx-xl-3 mx-sm-3">
                                <div>
                                    <a href="" class=" text-decoration-none text-white d-block ">
                                        <div class="d-block d-md-flex d-lg-flex justify-content-center fs-4 py-1"><i
                                                class="fa-solid fa-user"></i></div>
                                        <div class="box-text d-none  d-xl-inline"
                                            style="font-weight: 400; font-size: 13;">Đăng nhập</div>
                                    </a>
                                </div>
                            </li>
                            <li class="list-unstyled mx-xl-3 mx-sm-3">
                                <div>
                                    <a href="" class=" text-decoration-none text-white d-block ">
                                        <div class="d-block d-md-flex d-lg-flex justify-content-center fs-4 py-1 ">
                                            <i class="fa-solid fa-cart-shopping position-relative">
                                                <div class="cart-dot position-absolute">2</div>
                                            </i>

                                        </div>
                                        <div class="box-text d-none  d-xl-inline"
                                            style="font-weight: 400; font-size: 13;">Giỏ hàng</div>
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-none d-xl-flex justify-content-center bg-white shadow-sm" style="height: 45px;">
        <nav class="container navbar navbar-expand-lg  px-5 m-0">
            <div class="container px-5" s>
                <ul class="d-flex justify-content-between list-unstyled fw-bold  px-5 w-100 m-0">
                    <li class="nav-item"><a class="nav-link" href="#">HÀNG MỚI</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="phuKienDropdown" role="button"
                            data-bs-toggle="dropdown">
                            PHỤ KIỆN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="phuKienDropdown">
                            <li><a class="dropdown-item" href="#">NÓN</a></li>
                            <li><a class="dropdown-item" href="#">THẮT LƯNG</a></li>
                            <li><a class="dropdown-item" href="#">BALO - TÚI XÁCH</a></li>
                            <li><a class="dropdown-item" href="#">VÍ</a></li>
                            <li><a class="dropdown-item" href="#">GIÀY - DÉP</a></li>
                            <li><a class="dropdown-item" href="#">MẮT KÍNH</a></li>
                            <li><a class="dropdown-item" href="#">VỚ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="phuKienDropdown" role="button"
                            data-bs-toggle="dropdown">
                            PHỤ KIỆN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="phuKienDropdown">
                            <li><a class="dropdown-item" href="#">NÓN</a></li>
                            <li><a class="dropdown-item" href="#">THẮT LƯNG</a></li>
                            <li><a class="dropdown-item" href="#">BALO - TÚI XÁCH</a></li>
                            <li><a class="dropdown-item" href="#">VÍ</a></li>
                            <li><a class="dropdown-item" href="#">GIÀY - DÉP</a></li>
                            <li><a class="dropdown-item" href="#">MẮT KÍNH</a></li>
                            <li><a class="dropdown-item" href="#">VỚ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="phuKienDropdown" role="button"
                            data-bs-toggle="dropdown">
                            PHỤ KIỆN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="phuKienDropdown">
                            <li><a class="dropdown-item" href="#">NÓN</a></li>
                            <li><a class="dropdown-item" href="#">THẮT LƯNG</a></li>
                            <li><a class="dropdown-item" href="#">BALO - TÚI XÁCH</a></li>
                            <li><a class="dropdown-item" href="#">VÍ</a></li>
                            <li><a class="dropdown-item" href="#">GIÀY - DÉP</a></li>
                            <li><a class="dropdown-item" href="#">MẮT KÍNH</a></li>
                            <li><a class="dropdown-item" href="#">VỚ</a></li>
                        </ul>
                    </li>

                    <!-- Dropdown PHỤ KIỆN -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="phuKienDropdown" role="button"
                            data-bs-toggle="dropdown">
                            PHỤ KIỆN
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="phuKienDropdown">
                            <li><a class="dropdown-item" href="#">NÓN</a></li>
                            <li><a class="dropdown-item" href="#">THẮT LƯNG</a></li>
                            <li><a class="dropdown-item" href="#">BALO - TÚI XÁCH</a></li>
                            <li><a class="dropdown-item" href="#">VÍ</a></li>
                            <li><a class="dropdown-item" href="#">GIÀY - DÉP</a></li>
                            <li><a class="dropdown-item" href="#">MẮT KÍNH</a></li>
                            <li><a class="dropdown-item" href="#">VỚ</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link text-danger" href="#">OUTLET</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ĐỒ HÈ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">JEANS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">TIN THỜI TRANG</a></li>
                </ul>

            </div>
        </nav>
    </div>

</div>