<div class="container-fluid bg-black py-5">
    <div class="container py-2 border-bottom-white">
        <div class="row ">
            <div class="col-12 col-sm-7 ">
                <div class="d-flex justify-content-between row ">
                    <div
                        class="col-12 col-sm-4  text-uppercase text-white m-0 p-0 align-content-center text-center fs-5 ">
                        Đăng ký nhận tin</div>
                    <div class="col-12 col-sm-8 d-flex my-3">
                        <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username"
                            aria-describedby="basic-addon2" style="max-width: 700px !important;">
                        <div class="input-group-append">
                            <button class="btn btn-dark text-white" type="button" style="width:100px !important ;">Đăng
                                ký</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-5  align-content-center  ">
                <ul class=" p-0 m-0 d-flex justify-content-md-end justify-content-center">
                    <li style=" margin:0px 5px; width: 35px; height: 35px;border-radius: 4px; background-color: #008FE5;"
                        class="list-unstyled"> <img
                            src="https://file.hstatic.net/200000397757/file/zalo-icon_0adb17d386cc4785b30ef66e470b4342.svg"
                            alt=""></li>
                    <li style=" margin:0px 5px; width: 35px; height: 35px;border-radius: 4px; background-color: #FF0000;"
                        class="list-unstyled text-center align-content-center"> <i
                            class="fa-brands fa-youtube text-white"></i> </li>
                    <li style=" margin:0px 5px; width: 35px; height: 35px;border-radius: 4px; background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);"
                        class="list-unstyled text-center align-content-center"> <i
                            class="fa-brands fa-instagram text-white"></i> </li>
                    <li style=" margin:0px 5px; width: 35px; height: 35px;border-radius: 4px; background-color: #4267B3;"
                        class="list-unstyled text-center align-content-center"> <i
                            class="fa-brands fa-facebook text-white"></i></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container py-2 ">
        <div class="row text-white ">
            <div class="col-12 col-md-3 col-lg-3 col-xl-3 my-3">
                <div class="text-uppercase fw-bold">Giới thiệu</div>
                <div class="my-1">160STORE - Chuỗi Phân Phối Thời Trang Nam Chuẩn Hiệu</div>
                <div class="my-1"><i class="fa-solid fa-mobile-screen-button"></i> 02871006789</div>
                <div class="my-1"><i class="fa-solid fa-envelope"></i> cs@160store.com</div>
                <div class="my-1"><i class="fa-solid fa-clock"></i> Giờ mở cửa : 08:30 - 22:00</div>
                <div class="my-1"><i class="fa-solid fa-headset"></i> Nhân viên tư vấn phản hồi tin nhắn đến 24:00
                    (Mỗi ngày)</div>
                <div class="my-2"><img
                        src="https://file.hstatic.net/200000397757/file/dathongbao_48067cd02fae41b68bf0294777c39c94_compact.png"
                        alt=""></div>
                <div class="my-2"><img
                        src="https://images.dmca.com/Badges/dmca_protected_16_120.png?ID=9049de26-d97b-48dc-ab97-1e5fcb221fba"
                        alt=""></div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-3 my-3">
                <div class="text-uppercase fw-bold">Chính sách</div>
                <div class="">
                    <ul>
                        <li>Hướng dẫn đặt hàng</li>
                        <li>Chính sách
                            <ul class="p-0 m-2">
                                <li>Chính Sách Ưu Đãi Sinh Nhật</li>
                                <li>Chính sách Khách Hàng Thân Thiết</li>
                                <li>Chính sách Giao Hàng</li>
                                <li>Chính sách Bảo Mật</li>
                                <li>Chính Sách Đổi Hàng Và Bảo Hành</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-3 my-3">
                <div class="text-uppercase fw-bold footer-hover">Địa chỉ cửa hàng (22 CH)</div>
                <div class="my-2">
                    <div class="d-flex">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <div class="text-uppercase fw-bold mx-1">HỒ CHÍ MINH (12 CH)</div>
                    </div>
                    <div>297/3 Tô Hiến Thành, Phường Hòa Hưng, TP.Hồ Chí Minh</div>
                </div>
                <div class="my-2">
                    <div class="d-flex">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <div class="text-uppercase fw-bold mx-1">HÀ NỘI (2 CH)</div>
                    </div>
                    <div>Số 26 Phố Lê Đại Hành, Phường Hai Bà Trưng, TP.Hà Nội</div>
                </div>
                <div class="my-2">
                    <div class="d-flex">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <div class="text-uppercase fw-bold mx-1">CẦN THƠ (2 CH))</div>
                    </div>
                    <div>Số 35 Trần Phú, Phường Ninh Kiều, TP.Cần Thơ</div>
                </div>
                <div class="my-2">
                    <div class="d-flex">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <div class="text-uppercase fw-bold mx-1">ĐÀ NẴNG (2 CH)</div>
                    </div>
                    <div>332 Đ. Lê Duẩn, Phường Thanh Khê, TP.Đà Nẵng</div>
                </div>
                <div class="text-uppercase fw-bold footer-hover">Địa chỉ cửa hàng (22 CH)</div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 col-xl-3 my-3">
                <div class="text-uppercase fw-bold ">PHƯƠNG THỨC THANH TOÁN</div>
                <div class="my-2">
                    <ul class="d-flex p-0 m-0 justify-content-between">
                        <li class="list-unstyled mx-2"><i class="fa-solid fa-building-columns"></i>Shopee Pay</li>
                        <li class="list-unstyled mx-2"><i class="fa-solid fa-building-columns"></i>VN PAY</li>
                        <li class="list-unstyled mx-2"><i class="fa-solid fa-building-columns"></i>COD</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-2 text-white text-center">
        Bản quyền thuộc về CL-Team
    </div>
</div>